doctype //if lt IE 7
html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
|  
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    | &#x9;
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    | &#x9;
    title Magazine &mdash; Free Fully Responsive HTML5 Bootstrap Template by FREEHTML5.co
    | &#x9;
    meta(name='viewport', content='width=device-width, initial-scale=1')
    | &#x9;
    meta(name='description', content='Free HTML5 Template by FREEHTML5.CO')
    | &#x9;
    meta(name='keywords', content='free html5, free template, free bootstrap, html5, css3, mobile first, responsive')
    | &#x9;
    meta(name='author', content='FREEHTML5.CO')
    //
      //////////////////////////////////////////////////////
      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO
      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co
      //////////////////////////////////////////////////////
    // Facebook and Twitter integration
    meta(property='og:title', content='')
    | &#x9;
    meta(property='og:image', content='')
    | &#x9;
    meta(property='og:url', content='')
    | &#x9;
    meta(property='og:site_name', content='')
    | &#x9;
    meta(property='og:description', content='')
    | &#x9;
    meta(name='twitter:title', content='')
    | &#x9;
    meta(name='twitter:image', content='')
    | &#x9;
    meta(name='twitter:url', content='')
    | &#x9;
    meta(name='twitter:card', content='')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='shortcut icon', href='favicon.ico')
    // Google Fonts
    link(href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic|Roboto:400,300,700', rel='stylesheet', type='text/css')
    // Animate
    link(rel='stylesheet', href='styles/animate.css')
    // Icomoon
    link(rel='stylesheet', href='styles/icomoon.css')
    // Bootstrap
    link(rel='stylesheet', href='styles/bootstrap.css')
    | &#x9;
    link(rel='stylesheet', href='styles/style.css')
    // Modernizr JS
    script(src='javascripts/modernizr-2.6.2.min.js')
    // FOR IE9 below
    //if lt IE 9
      script(src='javascripts/respond.min.js')
  | &#x9;
  body
    #fh5co-offcanvas
      a.fh5co-close-offcanvas.js-fh5co-close-offcanvas(href='#')
        span
          i.icon-cross3
          |  
          span Close
      | &#x9;&#x9;
      .fh5co-bio
        figure
          img.img-responsive(src='images/person1.jpg', alt='Free HTML5 Bootstrap Template')
        | &#x9;&#x9;&#x9;
        h3.heading About Us
        | &#x9;&#x9;&#x9;
        h2 Nhóm điện toán đám mây thứ mấy thì quên cmnr
        | &#x9;&#x9;&#x9;
        p
          | quan môn, qua môn, nhất định phải qua môn
        | &#x9;&#x9;&#x9;
        ul.fh5co-social
          li
            a(href='#')
              i.icon-twitter
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='#')
              i.icon-facebook
          | &#x9;&#x9;&#x9;&#x9;
          li
            a(href='#')
              i.icon-instagram
      | &#x9;&#x9;
      .fh5co-menu
        .fh5co-box
          h3.heading Categories
          | &#x9;&#x9;&#x9;&#x9;
          ul
            li
              a(href='#') Mới nhất
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Bóng đá
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Công nghệ
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') Thế giới quanh ta :3
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#') trâm anh 4 phút 47s
        | &#x9;&#x9;&#x9;
        .fh5co-box
          h3.heading Search
          | &#x9;&#x9;&#x9;&#x9;
          form(action='#')
            .form-group
              input.form-control(type='text', placeholder='Type a keyword')
    // END #fh5co-offcanvas
    header#fh5co-header
      .container-fluid
        .row
          a.js-fh5co-nav-toggle.fh5co-nav-toggle(href='#')
            i
          | &#x9;&#x9;&#x9;&#x9;
          ul.fh5co-social
            li
              a(href='#')
                i.icon-twitter
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#')
                i.icon-facebook
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            li
              a(href='#')
                i.icon-instagram
          | &#x9;&#x9;&#x9;&#x9;
          .col-lg-12.col-md-12.text-center
            h1#fh5co-logo
              a(href='index.html')
                | Magazine 
                sup TM
    // END #fh5co-header
    .container-fluid
      .row.fh5co-post-entry
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_1.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Food &amp; Drink
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') We Eat and Drink All Night
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_2.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Food &amp; Drink
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') Beef Steak at Guatian Restaurant
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        .clearfix.visible-xs-block
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_3.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Travel
            | , 
            a(href='single.html') Style
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') An Overlooking River at the East Cost
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_4.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Travel
            | , 
            a(href='single.html') Style
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') A Wildlife In The Mountain of India
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        .clearfix.visible-lg-block.visible-md-block.visible-sm-block.visible-xs-block
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_5.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Photography
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') We Took A Photo
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_6.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Travel
            | , 
            a(href='single.html') Style
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') A Modernize Huge and Beautiful Building
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        .clearfix.visible-xs-block
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_7.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Food &amp; Drinks
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') Enjoying the Native Juice Drink in Brazil
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_8.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Travel
            | , 
            a(href='single.html') Style
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') Boat Travel in The Vietnam River
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        .clearfix.visible-lg-block.visible-md-block.visible-sm-block.visible-xs-block
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_1.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Food &amp; Drink
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') We Eat and Drink All Night
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_2.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Food &amp; Drink
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') Beef Steak at Guatian Restaurant
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        .clearfix.visible-xs-block
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_3.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Travel
            | , 
            a(href='single.html') Style
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') An Overlooking River at the East Cost
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_4.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Travel
            | , 
            a(href='single.html') Style
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') A Wildlife In The Mountain of India
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        .clearfix.visible-lg-block.visible-md-block.visible-sm-block.visible-xs-block
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_5.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Photography
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') We Took A Photo
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_6.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Travel
            | , 
            a(href='single.html') Style
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') A Modernize Huge and Beautiful Building
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        .clearfix.visible-xs-block
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_7.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Food &amp; Drinks
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') Enjoying the Native Juice Drink in Brazil
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        article.col-lg-3.col-md-3.col-sm-3.col-xs-6.col-xxs-12.animate-box
          figure
            a(href='single.html')
              img.img-responsive(src='images/pic_8.jpg', alt='Image')
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta
            a(href='single.html') Travel
            | , 
            a(href='single.html') Style
          | &#x9;&#x9;&#x9;&#x9;
          h2.fh5co-article-title
            a(href='single.html') Boat Travel in The Vietnam River
          | &#x9;&#x9;&#x9;&#x9;
          span.fh5co-meta.fh5co-date March 6th, 2016
        | &#x9;&#x9;&#x9;
        .clearfix.visible-xs-block
    | &#x9;
    footer#fh5co-footer
      p
        small
          | &copy; 2016. Magazine Free HTML5. All Rights Reserverd. 
          br
          |  Designed by 
          a(href='http://freehtml5.co', target='_blank') FREEHTML5.co
          |   Demo Images: 
          a(href='http://unsplash.com/', target='_blank') Unsplash
    // jQuery
    script(src='javascripts/jquery.min.js')
    // jQuery Easing
    script(src='javascripts/jquery.easing.1.3.js')
    // Bootstrap
    script(src='javascripts/bootstrap.min.js')
    // Waypoints
    script(src='javascripts/jquery.waypoints.min.js')
    // Main JS
    script(src='javascripts/main.js')
